img.wp-smiley,
    img.emoji {
      display: inline !important;
      border: none !important;
      box-shadow: none !important;
      height: 1em !important;
      width: 1em !important;
      margin: 0 .07em !important;
      vertical-align: -0.1em !important;
      background: none !important;
      padding: 0 !important;
    }

    #start-resizable-editor-section {
        display: none
      }
  
      .wp-block-audio figcaption {
        color: #555;
        font-size: 13px;
        text-align: center
      }
  
      .is-dark-theme .wp-block-audio figcaption {
        color: hsla(0, 0%, 100%, .65)
      }
  
      .wp-block-code {
        font-family: Menlo, Consolas, monaco, monospace;
        color: #1e1e1e;
        padding: .8em 1em;
        border: 1px solid #ddd;
        border-radius: 4px
      }
  
      .wp-block-embed figcaption {
        color: #555;
        font-size: 13px;
        text-align: center
      }
  
      .is-dark-theme .wp-block-embed figcaption {
        color: hsla(0, 0%, 100%, .65)
      }
  
      .blocks-gallery-caption {
        color: #555;
        font-size: 13px;
        text-align: center
      }
  
      .is-dark-theme .blocks-gallery-caption {
        color: hsla(0, 0%, 100%, .65)
      }
  
      .wp-block-image figcaption {
        color: #555;
        font-size: 13px;
        text-align: center
      }
  
      .is-dark-theme .wp-block-image figcaption {
        color: hsla(0, 0%, 100%, .65)
      }
  
      .wp-block-pullquote {
        border-top: 4px solid;
        border-bottom: 4px solid;
        margin-bottom: 1.75em;
        color: currentColor
      }
  
      .wp-block-pullquote__citation,
      .wp-block-pullquote cite,
      .wp-block-pullquote footer {
        color: currentColor;
        text-transform: uppercase;
        font-size: .8125em;
        font-style: normal
      }
  
      .wp-block-quote {
        border-left: .25em solid;
        margin: 0 0 1.75em;
        padding-left: 1em
      }
  
      .wp-block-quote cite,
      .wp-block-quote footer {
        color: currentColor;
        font-size: .8125em;
        position: relative;
        font-style: normal
      }
  
      .wp-block-quote.has-text-align-right {
        border-left: none;
        border-right: .25em solid;
        padding-left: 0;
        padding-right: 1em
      }
  
      .wp-block-quote.has-text-align-center {
        border: none;
        padding-left: 0
      }
  
      .wp-block-quote.is-large,
      .wp-block-quote.is-style-large {
        border: none
      }
  
      .wp-block-search .wp-block-search__label {
        font-weight: 700
      }
  
      .wp-block-group.has-background {
        padding: 1.25em 2.375em;
        margin-top: 0;
        margin-bottom: 0
      }
  
      .wp-block-separator {
        border: none;
        border-bottom: 2px solid;
        margin-left: auto;
        margin-right: auto;
        opacity: .4
      }
  
      .wp-block-separator:not(.is-style-wide):not(.is-style-dots) {
        width: 100px
      }
  
      .wp-block-separator.has-background:not(.is-style-dots) {
        border-bottom: none;
        height: 1px
      }
  
      .wp-block-separator.has-background:not(.is-style-wide):not(.is-style-dots) {
        height: 2px
      }
  
      .wp-block-table thead {
        border-bottom: 3px solid
      }
  
      .wp-block-table tfoot {
        border-top: 3px solid
      }
  
      .wp-block-table td,
      .wp-block-table th {
        padding: .5em;
        border: 1px solid;
        word-break: normal
      }
  
      .wp-block-table figcaption {
        color: #555;
        font-size: 13px;
        text-align: center
      }
  
      .is-dark-theme .wp-block-table figcaption {
        color: hsla(0, 0%, 100%, .65)
      }
  
      .wp-block-video figcaption {
        color: #555;
        font-size: 13px;
        text-align: center
      }
  
      .is-dark-theme .wp-block-video figcaption {
        color: hsla(0, 0%, 100%, .65)
      }
  
      .wp-block-template-part.has-background {
        padding: 1.25em 2.375em;
        margin-top: 0;
        margin-bottom: 0
      }
  
      #end-resizable-editor-section {
        display: none
      }

      body,
      h1,
      h2,
      h3,
      h4,
      h5,
      h6,
      a p,
      .fl-page-nav .navbar-nav,
      .fl-page-nav .navbar-nav a,
      i.fa-bars {
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;
      }
  
      i.fa-bars:before {
        content: "\2261";
        font-size: 40px;
        font-weight: 400;
        line-height: 1.4;
      }
  
      /* Font for Color sections */
      .text-color,
      .text-color * {
        color: #fff;
      }
  
      /* Accessible Links */
      a {
        /* color: #008183; */
        color: #00a6a8;
  
      }
  
      a:hover,
      a:focus,
      .fl-page-footer-widgets a:hover,
      .fl-page-footer-widgets a:focus,
      .fl-page-footer .navbar-nav li.current-menu-item>a,
      .fl-page-footer .navbar-nav li>a:hover {
        color: #1cc9c4;
      }
  
      /* Top Nav Font */
      .fl-page-nav .navbar-nav,
      .fl-page-nav .navbar-nav a {
        font-size: 15px;
        font-weight: 700;
        line-height: 2.6;
      }
  
      /* Buttons */
      .fl-builder-content a.fl-button {
        border-radius: 50px;
      }
  
      /* Top Nav Button */
      .fl-page-nav a button {
        font-size: 15px;
        font-weight: 700;
        border: 2px solid #ef3a4c;
        border-radius: 50px;
        color: #ef3a4c !important;
        background: #fff;
      }
  
      .fl-page-nav a button:hover,
      .fl-page-nav a button:focus {
        color: #fff !important;
        background-color: #ef3a4c;
      }
  
      /* Top Nav Links */
      .fl-page-nav-right .fl-page-nav-wrap .navbar-nav li.current-menu-item>a,
      .fl-page-nav-right .fl-page-nav-wrap .navbar-nav li>a:hover,
      .fl-page-nav-right .fl-page-nav-wrap .navbar-nav li>a:focus,
      .fl-page-nav-toggle-icon.fl-page-nav-toggle-visible-medium-mobile .fl-page-nav-collapse ul.navbar-nav>li.current-menu-item>a,
      .fl-page-nav-toggle-icon.fl-page-nav-toggle-visible-medium-mobile .fl-page-nav-collapse ul.navbar-nav>li>a:hover,
      .fl-page-nav-toggle-icon.fl-page-nav-toggle-visible-medium-mobile .fl-page-nav-collapse ul.navbar-nav>li>a:focus {
        color: rgb(239, 58, 76);
      }
  
      /* Top Nav menu */
      .fl-page-nav-toggle-icon.fl-page-nav-toggle-visible-medium-mobile .fl-page-nav .navbar-toggle *,
      .fl-page-nav [class*="fa fa-"] {
        line-height: 2.6;
      }
  
      /* Mobile Nav Logo */
      @media (min-width: 768px) {
        .fl-page-header .fl-page-nav ul.sub-menu {
          width: auto;
          padding-top: 0px;
        }
      }
  
      /* Footer menu */
      .fl-page-footer a,
      .fl-page-footer-text-2 span {
        font-size: 14px !important;
        line-height: 2.6;
      }
  
      /* Newsletter Signup */
      .newsletter {
        overflow: hidden;
        text-align: center;
        width: 100%;
        max-width: 300px;
      }
  
      .newsletter>* {
        vertical-align: top;
        border: 0;
        margin: 0;
      }
  
      .newsletter>input[type=email] {
        width: calc(100% - 55px);
        display: inline;
        outline: none;
        padding: 20px 10px;
        font-size: 16px;
        height: 43px;
        border-radius: 2px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
  
      .newsletter>button {
        width: 55px;
        outline: none;
        padding: 10px 10px 9px;
        margin-left: -5px;
        border-top-left-radius: 0;
        border: 2px solid #ef3a4c;
        border-bottom-left-radius: 0;
      }
  
      .newsletter>button::-moz-focus-inner {
        border: 0;
      }
  
      /* large desktops and up */
      @media only screen and (max-width: 1200px) {
  
        /* Newsletter Input */
        .inputWithButton>input[type=email] {
          width: 60%;
        }
      }
  
      /* Small devices (tablets, 990 and smaller) */
      @media (max-width: 991px) {
        h1 {
          font-size: 3.4em;
        }
  
        h2 {
          font-size: 2.7em;
        }
  
        h3 {
          font-size: 2.1em;
        }
  
        h4 {
          font-size: 1.8em;
        }
  
        h5 {
          font-size: 1.5em;
        }
  
        h6 {
          font-size: 1.3em;
        }
      }
  
      /* Extra small devices (phones, 767 and smaller) */
      @media (max-width: 768px) {
        h1 {
          font-size: 2.9em;
          text-align: center;
        }
  
        h2 {
          font-size: 2.3em;
        }
  
        h3 {
          font-size: 1.8em;
        }
  
        h4 {
          font-size: 1.6em;
        }
  
        h5 {
          font-size: 1.4em;
          text-align: center;
        }
  
        h6 {
          font-size: 1.2em;
        }
  
        /* do not center footer menu headers */
        h4:not(.fl-widget-title) {
          text-align: center;
        }
  
        /* shrink mobile images */
        .image-mobile img,
        .image-mobile img[class*="wp-image-"] {
          max-width: 320px;
        }
  
        /* overwrite reversed order */
        .fl-col-group.fl-col-group-responsive-reversed .fl-col {
          max-width: 400px;
        }
      }
  
      .airtable {
        border-collapse: collapse;
        border-spacing: 0;
        width: 100%;
        margin-bottom: 1em;
        border: 1px solid #ddd;
        background: #fff;
      }
  
      .airtable thead th {
        background-color: #272727;
        color: #fff;
        font-weight: 700;
        text-align: left;
        vertical-align: text-top;
        padding: 8px;
        float: none !important;
      }
  
      .airtable tr {
        border-top: 1px solid #ddd;
      }
  
      .airtable td {
        vertical-align: top;
        padding: 8px;
        border: none;
        background: 0 0;
        text-align: left;
        float: none !important;
      }
  
      .airtable tr:nth-child(even) {
        background: #f9f9f9;
      }
  
      .airtable td:first-child {}
  
      .airtable td:nth-child(1n+2) {
        max-width: 125px;
      }
  
      /* Post Customizations */
      .blog-list li {
        list-style-type: none;
        padding-top: 5px;
        padding-bottom: 5px;
      }
  
      .post-template-default.single-post .fl-post h1 {
        font-size: 54px;
        line-height: 1.2;
      }
  
      .post-template-default.single-post .fl-post p {
        margin-bottom: 15px;
      }
  
      .post-template-default.single-post .fl-post h5 {
        text-align: left;
        margin-bottom: 0px;
      }
  
      /* Legal Pages - App*/
      .hide-retail-nav {
        display: none;
      }
  
      /* MADLIB Wish Form */
      .wish-form p,
      .wish-form input {
        font-size: 32px;
        font-weight: 700;
        line-height: 50px;
      }
  
      .wish-form input,
      .wish-form select {
        width: 325px;
        max-width: 100%;
        padding: 0px;
        padding-bottom: 5px;
        border-top: 0px;
        border-left: 0px;
        border-right: 0px;
        border-bottom: 2px solid #c2c6cc;
        border-radius: 0;
        background-color: #fff;
        color: #ef3a4c;
        height: 50px;
      }
  
      .wish-form input[type=checkbox] {
        width: auto;
        height: auto;
      }
  
      .wish-form .mad-lib {
        display: inline;
        text-align: center;
      }
  
      .wish-form .name {
        display: inline;
        width: 49%;
        max-width: 250px;
      }
  
      .wish-form .email {
        display: inline;
        width: 100%;
        max-width: 500px;
      }
  
      .wish-form label {
        font-weight: 400;
        line-height: 30px;
      }
  
      .wish-form a {
        color: #008183 !important;
        text-decoration: underline;
      }
  
      .wish-form a:hover {
        color: #00a6a8 !important;
      }
  
      .wish-form button {
        font-size: 15px;
        font-weight: 700;
        border: 2px solid #ef3a4c;
        border-radius: 2px;
        color: #ef3a4c !important;
        background: #fff;
      }
  
      .wish-form button:hover,
      .wish-form button:focus {
        color: #fff !important;
        background-color: #ef3a4c;
      }
  
      /* Google Forms  */
      .main-content iframe[src] {
        opacity: 1;
      }

      #_form_61FC6D3D7BD3C_ {
        font-size: 14px;
        line-height: 1.6;
        font-family: arial, helvetica, sans-serif;
        margin: 0;
      }

      #_form_61FC6D3D7BD3C_ * {
        outline: 0;
      }

      ._form_hide {
        display: none;
        visibility: hidden;
      }

      ._form_show {
        display: block;
        visibility: visible;
      }

      #_form_61FC6D3D7BD3C_._form-top {
        top: 0;
      }

      #_form_61FC6D3D7BD3C_._form-bottom {
        bottom: 0;
      }

      #_form_61FC6D3D7BD3C_._form-left {
        left: 0;
      }

      #_form_61FC6D3D7BD3C_._form-right {
        right: 0;
      }

      #_form_61FC6D3D7BD3C_ input[type="text"],
      #_form_61FC6D3D7BD3C_ input[type="date"],
      #_form_61FC6D3D7BD3C_ textarea {
        padding: 6px;
        height: auto;
        border: #979797 1px solid;
        border-radius: 4px;
        color: #000 !important;
        font-size: 14px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
      }

      #_form_61FC6D3D7BD3C_ textarea {
        resize: none;
      }

      #_form_61FC6D3D7BD3C_ ._submit {
        -webkit-appearance: none;
        cursor: pointer;
        font-family: arial, sans-serif;
        font-size: 14px;
        text-align: center;
        background: #ef3a4c !important;
        border: 0 !important;
        -moz-border-radius: 2px !important;
        -webkit-border-radius: 2px !important;
        border-radius: 2px !important;
        color: #fff !important;
        padding: 7px !important;
      }

      #_form_61FC6D3D7BD3C_ ._close-icon {
        cursor: pointer;
        background-image: url('https://d226aj4ao1t61q.cloudfront.net/esfkyjh1u_forms-close-dark.png');
        background-repeat: no-repeat;
        background-size: 14.2px 14.2px;
        position: absolute;
        display: block;
        top: 11px;
        right: 9px;
        overflow: hidden;
        width: 16.2px;
        height: 16.2px;
      }

      #_form_61FC6D3D7BD3C_ ._close-icon:before {
        position: relative;
      }

      #_form_61FC6D3D7BD3C_ ._form-body {
        margin-bottom: 30px;
      }

      #_form_61FC6D3D7BD3C_ ._form-image-left {
        width: 150px;
        float: left;
      }

      #_form_61FC6D3D7BD3C_ ._form-content-right {
        margin-left: 164px;
      }

      #_form_61FC6D3D7BD3C_ ._form-branding {
        color: #fff;
        font-size: 10px;
        clear: both;
        text-align: left;
        margin-top: 30px;
        font-weight: 100;
      }

      #_form_61FC6D3D7BD3C_ ._form-branding ._logo {
        display: block;
        width: 130px;
        height: 14px;
        margin-top: 6px;
        background-image: url('https://d226aj4ao1t61q.cloudfront.net/hh9ujqgv5_aclogo_li.png');
        background-size: 130px auto;
        background-repeat: no-repeat;
      }

      #_form_61FC6D3D7BD3C_ .form-sr-only {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        border: 0;
      }

      #_form_61FC6D3D7BD3C_ ._form-label,
      #_form_61FC6D3D7BD3C_ ._form_element ._form-label {
        font-weight: bold;
        margin-bottom: 5px;
        display: block;
      }

      #_form_61FC6D3D7BD3C_._dark ._form-branding {
        color: #333;
      }

      #_form_61FC6D3D7BD3C_._dark ._form-branding ._logo {
        background-image: url('https://d226aj4ao1t61q.cloudfront.net/jftq2c8s_aclogo_dk.png');
      }

      #_form_61FC6D3D7BD3C_ ._form_element {
        position: relative;
        margin-bottom: 10px;
        font-size: 0;
        max-width: 100%;
      }

      #_form_61FC6D3D7BD3C_ ._form_element * {
        font-size: 14px;
      }

      #_form_61FC6D3D7BD3C_ ._form_element._clear {
        clear: both;
        width: 100%;
        float: none;
      }

      #_form_61FC6D3D7BD3C_ ._form_element._clear:after {
        clear: left;
      }

      #_form_61FC6D3D7BD3C_ ._form_element input[type="text"],
      #_form_61FC6D3D7BD3C_ ._form_element input[type="date"],
      #_form_61FC6D3D7BD3C_ ._form_element select,
      #_form_61FC6D3D7BD3C_ ._form_element textarea:not(.g-recaptcha-response) {
        display: block;
        width: 100%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        font-family: inherit;
      }

      #_form_61FC6D3D7BD3C_ ._field-wrapper {
        position: relative;
      }

      #_form_61FC6D3D7BD3C_ ._inline-style {
        float: left;
      }

      #_form_61FC6D3D7BD3C_ ._inline-style input[type="text"] {
        width: 150px;
      }

      #_form_61FC6D3D7BD3C_ ._inline-style:not(._clear)+._inline-style:not(._clear) {
        margin-left: 20px;
      }

      #_form_61FC6D3D7BD3C_ ._form_element img._form-image {
        max-width: 100%;
      }

      #_form_61FC6D3D7BD3C_ ._form_element ._form-fieldset {
        border: 0;
        padding: 0.01em 0 0 0;
        margin: 0;
        min-width: 0;
      }

      #_form_61FC6D3D7BD3C_ ._clear-element {
        clear: left;
      }

      #_form_61FC6D3D7BD3C_ ._full_width {
        width: 100%;
      }

      #_form_61FC6D3D7BD3C_ ._form_full_field {
        display: block;
        width: 100%;
        margin-bottom: 10px;
      }

      #_form_61FC6D3D7BD3C_ input[type="text"]._has_error,
      #_form_61FC6D3D7BD3C_ textarea._has_error {
        border: #f37c7b 1px solid;
      }

      #_form_61FC6D3D7BD3C_ input[type="checkbox"]._has_error {
        outline: #f37c7b 1px solid;
      }

      #_form_61FC6D3D7BD3C_ ._error {
        display: block;
        position: absolute;
        font-size: 14px;
        z-index: 10000001;
      }

      #_form_61FC6D3D7BD3C_ ._error._above {
        padding-bottom: 4px;
        bottom: 39px;
        right: 0;
      }

      #_form_61FC6D3D7BD3C_ ._error._below {
        padding-top: 4px;
        top: 100%;
        right: 0;
      }

      #_form_61FC6D3D7BD3C_ ._error._above ._error-arrow {
        bottom: 0;
        right: 15px;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid #f37c7b;
      }

      #_form_61FC6D3D7BD3C_ ._error._below ._error-arrow {
        top: 0;
        right: 15px;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-bottom: 5px solid #f37c7b;
      }

      #_form_61FC6D3D7BD3C_ ._error-inner {
        padding: 8px 12px;
        background-color: #f37c7b;
        font-size: 14px;
        font-family: arial, sans-serif;
        color: #fff;
        text-align: center;
        text-decoration: none;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
      }

      #_form_61FC6D3D7BD3C_ ._error-inner._form_error {
        margin-bottom: 5px;
        text-align: left;
      }

      #_form_61FC6D3D7BD3C_ ._button-wrapper ._error-inner._form_error {
        position: static;
      }

      #_form_61FC6D3D7BD3C_ ._error-inner._no_arrow {
        margin-bottom: 10px;
      }

      #_form_61FC6D3D7BD3C_ ._error-arrow {
        position: absolute;
        width: 0;
        height: 0;
      }

      #_form_61FC6D3D7BD3C_ ._error-html {
        margin-bottom: 10px;
      }

      .pika-single {
        z-index: 10000001 !important;
      }

      #_form_61FC6D3D7BD3C_ input[type="text"].datetime_date {
        width: 69%;
        display: inline;
      }

      #_form_61FC6D3D7BD3C_ select.datetime_time {
        width: 29%;
        display: inline;
        height: 32px;
      }

      ._form-wrapper {
        z-index: 9999999;
      }

      #_form_61FC6D3D7BD3C_._animated {
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
      }

      #_form_61FC6D3D7BD3C_._animated._fast {
        -webkit-animation-duration: 0.4s;
        animation-duration: 0.4s;
      }

      @-webkit-keyframes _fadeIn {
        0% {
          opacity: 0;
        }

        100% {
          opacity: 1;
        }
      }

      @keyframes _fadeIn {
        0% {
          opacity: 0;
        }

        100% {
          opacity: 1;
        }
      }

      #_form_61FC6D3D7BD3C_._fadeIn {
        -webkit-animation-name: _fadeIn;
        animation-name: _fadeIn;
      }

      @media all and (min-width:320px) and (max-width:667px) {
        ::-webkit-scrollbar {
          display: none;
        }

        #_form_61FC6D3D7BD3C_ {
          margin: 0;
          width: 100%;
          min-width: 100%;
          max-width: 100%;
          box-sizing: border-box;
        }

        #_form_61FC6D3D7BD3C_ * {
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          font-size: 1em;
        }

        #_form_61FC6D3D7BD3C_ ._form-content {
          margin: 0;
          width: 100%;
        }

        #_form_61FC6D3D7BD3C_ ._form-inner {
          display: block;
          min-width: 100%;
        }

        #_form_61FC6D3D7BD3C_ ._form-title,
        #_form_61FC6D3D7BD3C_ ._inline-style {
          margin-top: 0;
          margin-right: 0;
          margin-left: 0;
        }

        #_form_61FC6D3D7BD3C_ ._form-title {
          font-size: 1.2em;
        }

        #_form_61FC6D3D7BD3C_ ._form_element {
          margin: 0 0 20px;
          padding: 0;
          width: 100%;
        }

        #_form_61FC6D3D7BD3C_ ._form-element,
        #_form_61FC6D3D7BD3C_ ._inline-style,
        #_form_61FC6D3D7BD3C_ input[type="text"],
        #_form_61FC6D3D7BD3C_ label,
        #_form_61FC6D3D7BD3C_ p,
        #_form_61FC6D3D7BD3C_ textarea:not(.g-recaptcha-response) {
          float: none;
          display: block;
          width: 100%;
        }

        #_form_61FC6D3D7BD3C_ ._row._checkbox-radio label {
          display: inline;
        }

        #_form_61FC6D3D7BD3C_ ._row,
        #_form_61FC6D3D7BD3C_ p,
        #_form_61FC6D3D7BD3C_ label {
          margin-bottom: 0.7em;
          width: 100%;
        }

        #_form_61FC6D3D7BD3C_ ._row input[type="checkbox"],
        #_form_61FC6D3D7BD3C_ ._row input[type="radio"] {
          margin: 0 !important;
          vertical-align: middle !important;
        }

        #_form_61FC6D3D7BD3C_ ._row input[type="checkbox"]+span label {
          display: inline;
        }

        #_form_61FC6D3D7BD3C_ ._row span label {
          margin: 0 !important;
          width: initial !important;
          vertical-align: middle !important;
        }

        #_form_61FC6D3D7BD3C_ ._form-image {
          max-width: 100%;
          height: auto !important;
        }

        #_form_61FC6D3D7BD3C_ input[type="text"] {
          padding-left: 10px;
          padding-right: 10px;
          font-size: 16px;
          line-height: 1.3em;
          -webkit-appearance: none;
        }

        #_form_61FC6D3D7BD3C_ input[type="radio"],
        #_form_61FC6D3D7BD3C_ input[type="checkbox"] {
          display: inline-block;
          width: 1.3em;
          height: 1.3em;
          font-size: 1em;
          margin: 0 0.3em 0 0;
          vertical-align: baseline;
        }

        #_form_61FC6D3D7BD3C_ button[type="submit"] {
          padding: 20px;
          font-size: 1.5em;
        }

        #_form_61FC6D3D7BD3C_ ._inline-style {
          margin: 20px 0 0 !important;
        }
      }

      #_form_61FC6D3D7BD3C_ {
        position: relative;
        margin: 50px auto;
        padding: 20px;
        overflow: visible;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        border-radius: 10px;
        outline: none;
        box-shadow: 0 1px 13px rgba(0, 0, 0, 0.3);
        z-index: 10000000;
        background: #fff !important;
        width: 400px;
        color: #272727 !important;
        text-align: center;
      }

      #_form_61FC6D3D7BD3C_._form-modal {
        font-family: "IBM Plex Sans", Helvetica, sans-serif, 'IBM Plex Sans', arial, sans-serif;
        padding: 20px;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        border-radius: 4px;
        -moz-box-shadow: 0px 1px 13px 0px rgba(0, 0, 0, 0.3);
        -webkit-box-shadow: 0px 1px 13px 0px rgba(0, 0, 0, 0.3);
        box-shadow: 0px 1px 13px 0px rgba(0, 0, 0, 0.3);
      }

      #_form_61FC6D3D7BD3C_._form-modal input {
        background: #fff;
        color: #5d5d5d !important;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        border-radius: 4px;
        font-family: "IBM Plex Sans", Helvetica, sans-serif, 'IBM Plex Sans', arial, sans-serif;
      }

      #_form_61FC6D3D7BD3C_._form-modal input::placeholder {
        color: #5d5d5d;
      }

      #_form_61FC6D3D7BD3C_._form-modal ._submit {
        font-family: "IBM Plex Sans", Helvetica, sans-serif, 'IBM Plex Sans', arial, sans-serif;
      }

      #_form_61FC6D3D7BD3C_ ._form-title {
        font-size: 22px;
        line-height: 22px;
        font-weight: 600;
        margin-bottom: 20px;
      }

      #_form_61FC6D3D7BD3C_ ._close {
        cursor: pointer;
        position: absolute;
        top: -16px;
        right: -18px;
        width: auto;
        margin: 0;
        padding: 18px;
        overflow: visible;
        background-color: #fff;
        -moz-border-radius: 100%;
        -webkit-border-radius: 100%;
        border-radius: 100%;
        outline: none;
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
      }

      #_form_61FC6D3D7BD3C_ ._form-thank-you {
        text-align: center;
        padding: 20px;
        font-size: 18px;
      }

      #_form_61FC6D3D7BD3C_ ._form-element {
        position: relative;
      }

      #_form_61FC6D3D7BD3C_ ._form-image {
        margin-bottom: 20px;
      }

      #_form_61FC6D3D7BD3C_ ._form-image-left ._form-image {
        margin-bottom: 0;
      }

      ._form-wrapper {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.6);
        overflow: auto;
        overflow-y: scroll;
      }

      @media all and (min-width:1px) and (max-width:667px) {
        #_form_61FC6D3D7BD3C_ {
          position: static;
          top: 0;
          left: 0;
          right: 0;
          margin: 30px auto;
          width: 90%;
          min-width: 90%;
          max-width: 90%;
          transform: initial;
        }

        #_form_61FC6D3D7BD3C_ ._close {
          top: 16px;
          right: 16px;
        }

        #_form_61FC6D3D7BD3C_ ._form-thank-you {
          position: relative;
          top: initial;
          left: initial;
          margin: 12px 0;
        }
      }

      .no-js img.lazyload {
        display: none;
      }
  
      figure.wp-block-image img.lazyloading {
        min-width: 150px;
      }
  
      .lazyload,
      .lazyloading {
        opacity: 0;
      }
  
      .lazyloaded {
        opacity: 1;
        transition: opacity 400ms;
        transition-delay: 0ms;
      }