<html lang="en-us">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Pricing</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script type="text/javascript" src="https://beacon-v2.helpscout.net/static/js/main.d410a393.js"></script>
    <script type="text/javascript" src="https://beacon-v2.helpscout.net/static/js/vendor.d03036c7.js"></script>
    <script type="text/javascript" async="" src="https://www.google-analytics.com/analytics.js"></script>
    <script type="text/javascript" async="" src="https://beacon-v2.helpscout.net"></script>
    <script type="text/javascript" async="" src="https://static.hotjar.com/c/hotjar-316207.js?sv=7"></script>
    <script gtm="GTM-PG3ZG5" type="text/javascript" async=""
        src="https://www.google-analytics.com/gtm/optimize.js?id=GTM-W34ZQN2"></script>
    <script async="" src="https://www.googletagmanager.com/gtm.js?id=GTM-PG3ZG5"></script>
    <script type="text/javascript"
        src="//maps.googleapis.com/maps/api/js?v=3&amp;key=AIzaSyDTAS9gpEGKf0fynRBAddITOTNmUSH2avo&amp;language=en&amp;libraries=places%2Cgeometry"></script>

    <link integrity="" rel="stylesheet"
        href="https://dhgln791rx03x.cloudfront.net/assets/vendor-01cd13369a2fb2632ee0ed58d622c476.css">
    <link integrity="" rel="stylesheet"
        href="https://dhgln791rx03x.cloudfront.net/assets/lugless-fc0173044f817bded125796590b0d72f.css">

    <link rel="icon"
        href="https://dhgln791rx03x.cloudfront.net/icons/favicon-32x32-4bb45dd4452e41b981fa028a432f2387.png"
        sizes="32x32">
    <link rel="icon"
        href="https://dhgln791rx03x.cloudfront.net/icons/android-chrome-192x192-27a87047eaf9f22c5a9a44bf6f4d3a80.png"
        sizes="192x192">
    <link rel="apple-touch-icon"
        href="https://dhgln791rx03x.cloudfront.net/icons/apple-touch-icon-180x180-30db8a79ace125e9a6258cd57741e27c.png"
        sizes="180x180">
    <meta name="description"
        content="Don't let your baggage be your baggage. Beat airline fees by using the easiest, most affordable luggage shipping service.">

    <meta property="og:locale" content="en_US">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Skip the stress, ship your luggage starting at $15 per bag!">
    <meta property="og:description"
        content="Don't let your baggage be your baggage. Beat airline fees by using the easiest, most affordable luggage shipping service.">
    <meta property="og:image:secure_url"
        content="https://dhgln791rx03x.cloudfront.net/images/og-dont-let-baggage-dd983c48b78318ae92f425b4d3ba2c7c.jpg">
    <meta property="og:image"
        content="https://dhgln791rx03x.cloudfront.net/images/og-dont-let-baggage-dd983c48b78318ae92f425b4d3ba2c7c.jpg">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">

    <script async="" src="//static.hotjar.com/c/hotjar-316207.js?sv=5"></script>
    <meta name="ember-cli-head-start" content="">
    <title></title>
    <meta name="ember-cli-head-end" content="">
    <script async="" src="https://script.hotjar.com/modules.7d3f952308caf42c2b67.js" charset="utf-8"></script>
    <style hs-beacon="active" data-styled-version="5.1.1"></style>
    <script type="text/javascript" charset="UTF-8"
        src="https://maps.googleapis.com/maps-api-v3/api/js/47/7a/common.js"></script>
    <script type="text/javascript" charset="UTF-8"
        src="https://maps.googleapis.com/maps-api-v3/api/js/47/7a/util.js"></script>
</head>

<body class="bg-gray-50 ember-application">


    <script src="https://dhgln791rx03x.cloudfront.net/assets/vendor-94efd8749d8a877fb8ad53b12b4e893c.js"
        data-qr-scanner-worker="https://dhgln791rx03x.cloudfront.net/assets/workers/qr-scanner-worker-9b1422bb944bac6162a21ca1ffa60b2c.js"></script>
    <script src="/assets/chunk.626.8cd3178b4f1b72ab8912.js"
        integrity="sha256-kyv38uu8g0Qmbj3hsdhrL9JioK+XihlyV0U2gya3DhY= sha512-5yqX97YasF9sjjlvwDREn/TZcQeuGzjNd/UbDUF8fIb8N0dIf4hd5PRR5iUSZqX5imxp4VzZcpiaWo2Q9zWVfA=="></script>
    <script src="/assets/chunk.143.67d289cae6813070bdb3.js"
        integrity="sha256-RrqCaeYMKHbc8gTEtKIAjnmxdNTNoRCMkwxShXSLWYA= sha512-WEVZKkUw6N3O+oHWKnWhoaRjNhWR/+AN7H1h3B2nVn8ntAPlEP25IHxBOF5UuRrBUC5ZtdEIl/As7KCqk/Om5g=="></script>

    <div id="ember-basic-dropdown-wormhole"></div>
    <script>(function (h, o, t, j, a, r) { h.hj = h.hj || function () { (h.hj.q = h.hj.q || []).push(arguments) }; h._hjSettings = { hjid: 316207, hjsv: 5 }; a = o.getElementsByTagName("head")[0]; r = o.createElement("script"); r.async = 1; r.src = t + h._hjSettings.hjid + j + h._hjSettings.hjsv; a.appendChild(r); })(window, document, "//static.hotjar.com/c/hotjar-", ".js?sv=");</script>


    <div id="modal-overlays"></div>

    <!---->

    <!---->

    <div class="page-content">
        <header class="header" id="header">
            <div class="lg:flex lg:items-center lg:justify-between lg:container lg:mx-auto">
                <div class="header__main">
                    <div class="flex items-center justify-between w-full px-4 -m-1 md:container md:mx-auto">
                        <a class="a header__logo-link">
                            <div class="flex flex-wrap items-center my-4">
                                <svg class="h-8 max-w-full my-2 sm:my-0 sm:h-10" xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 967.95 356.79">
                                    <defs>
                                        <style>
                                            .\36 664ced4-e67e-4403-af0d-a1804d518041 {
                                                fill: #ef3b4d
                                            }
                                        </style>
                                    </defs>
                                    <title>Carry-A-Way-logo</title>
                                </svg>
                                <!---->
                            </div>
                        </a>
                        <div class="fl-page-header-logo" itemscope="itemscope"
                                    itemtype="https://schema.org/Organization">
                                    <a href="">
                                        <h3><span style="color: #1a0674fb;">Carry-A-Way</span></h3>
                                    </a>
                        </div>
                                
                        <div class="header__mobile-navigation">
                            <button class="button button--rose button--outline" type="button">Menu</button>
                        </div>
                    </div>
                </div>

                <nav class="header__navigation px-4 ">
                    <ul>
                        <li>
                            <a id="ember4" class="ember-view a" href="/bag-calculator">
                                Bag calculator
                            </a>
                        </li>

                        <li>
                            <a class="a" href="/help">
                                Help
                            </a>
                        </li>

                        <li>
                            <a id="ember5" class="ember-view" href="/login">
                                Sign in
                            </a>
                        </li>

                        <!---->
                    </ul>
                </nav>
            </div>
        </header>

        <!---->

        <form id="pricing">
            <div class="text-white section section--primary bg-brand-plum">
                <div class="container px-4 mx-auto ">
                    <div class="flex mb-4">

                        <div class="ember-basic-dropdown-trigger
   
   
   
     dropdown-trigger" role="button" tabindex="0" data-ebd-id="ember23-trigger"
                            aria-owns="ember-basic-dropdown-content-ember23" aria-expanded="false">

                            One-way

                        </div>

                        <div id="ember-basic-dropdown-content-ember23" class="ember-basic-dropdown-content-placeholder"
                            style="display: none;"></div>





                        <div>

                            <div class="ember-basic-dropdown-trigger
   
   
   
     dropdown-trigger border-b-2 border-dashed border-transparent" role="button" tabindex="0"
                                data-ebd-id="ember24-trigger" aria-owns="ember-basic-dropdown-content-ember24"
                                aria-expanded="false">

                                3x Carry-Ons

                            </div>

                            <div id="ember-basic-dropdown-content-ember24"
                                class="ember-basic-dropdown-content-placeholder" style="display: none;"></div>



                        </div>

                    </div>

                    <div class="input-group input-group--spaced input-group--justified">

                        <label
                            class="input input--wrapper input--text input--larger input--tall input--translucent md:rounded-r-none "
                            data-ebd-id="ember25-trigger">
                            <svg class="input__icon" viewBox="0 0 60 60" xmlns="http://www.w3.org/2000/svg">
                                <g fill="#292929">
                                    <path
                                        d="m29.68 13.25a9.12 9.12 0 0 0 -8.56 8.1c-.56 5.1 2.36 9.33 7.59 9.85 2.42.24 5.1 0 7-1.67a9.7 9.7 0 0 0 2.64-7.22 9.18 9.18 0 0 0 -8.65-9.06c-1.77-.1-1.76 2.65 0 2.75a6.38 6.38 0 0 1 5.9 6.31 7.35 7.35 0 0 1 -1.58 5c-1.33 1.38-3.71 1.33-5.47 1.06-7.23-1.07-5.55-12.1 1.13-12.37 1.76-.07 1.77-2.82 0-2.75z">
                                    </path>
                                    <path
                                        d="m11.64 36.24 17.24 22.17a1.38 1.38 0 0 0 1.94 0c11.91-11.31 27.62-28.41 18.42-46.14a23.9 23.9 0 0 0 -18.07-12.18c-8.83-1.09-16.96 3.19-20.42 11.55-2.91 7-4.1 17.86.68 24.33 1 1.4 3.43 0 2.37-1.39-3.93-5.33-3-13.2-1.37-19.21 2.15-8.14 8.86-13.26 17.31-12.68a21.3 21.3 0 0 1 17 10.65c3.83 7.05 2.54 15.84-.86 22.79-3.93 8-10.58 14.27-17 20.34h1.94l-17.23-22.17c-1.09-1.4-3.02.56-1.95 1.94z">
                                    </path>
                                </g>
                            </svg>

                            <label id="ember26" class="float-label has-value ember-view input__input"><span
                                    class="float-label-text">From</span>

                                <span class="fake-input fake-input--has-value " tabindex="0" id="from-337617">
                                    Gainesville, FL, US
                                </span>


                            </label>
                        </label>

                        <div id="ember-basic-dropdown-content-ember25" class="ember-basic-dropdown-content-placeholder"
                            style="display: none;"></div>






                        <label
                            class="input input--wrapper input--text input--larger input--tall input--translucent md:rounded-r-none md:rounded-l-none "
                            data-ebd-id="ember27-trigger">
                            <svg class="input__icon" viewBox="0 0 60 60" xmlns="http://www.w3.org/2000/svg">
                                <g fill="#292929">
                                    <path
                                        d="m29.68 13.25a9.12 9.12 0 0 0 -8.56 8.1c-.56 5.1 2.36 9.33 7.59 9.85 2.42.24 5.1 0 7-1.67a9.7 9.7 0 0 0 2.64-7.22 9.18 9.18 0 0 0 -8.65-9.06c-1.77-.1-1.76 2.65 0 2.75a6.38 6.38 0 0 1 5.9 6.31 7.35 7.35 0 0 1 -1.58 5c-1.33 1.38-3.71 1.33-5.47 1.06-7.23-1.07-5.55-12.1 1.13-12.37 1.76-.07 1.77-2.82 0-2.75z">
                                    </path>
                                    <path
                                        d="m11.64 36.24 17.24 22.17a1.38 1.38 0 0 0 1.94 0c11.91-11.31 27.62-28.41 18.42-46.14a23.9 23.9 0 0 0 -18.07-12.18c-8.83-1.09-16.96 3.19-20.42 11.55-2.91 7-4.1 17.86.68 24.33 1 1.4 3.43 0 2.37-1.39-3.93-5.33-3-13.2-1.37-19.21 2.15-8.14 8.86-13.26 17.31-12.68a21.3 21.3 0 0 1 17 10.65c3.83 7.05 2.54 15.84-.86 22.79-3.93 8-10.58 14.27-17 20.34h1.94l-17.23-22.17c-1.09-1.4-3.02.56-1.95 1.94z">
                                    </path>
                                </g>
                            </svg>

                            <label id="ember28" class="float-label has-value ember-view input__input"><span
                                    class="float-label-text">To</span>

                                <span class="fake-input fake-input--has-value " tabindex="0" id="to-337617">
                                    New York, NY, US
                                </span>


                            </label>
                        </label>

                        <div id="ember-basic-dropdown-content-ember27" class="ember-basic-dropdown-content-placeholder"
                            style="display: none;"></div>





                        <!---->


                        <label
                            class="input input--wrapper input--text input--tall input--translucent input--translucent md:rounded-l-none ">
                            <svg class="input__icon" viewBox="0 0 60 60" xmlns="http://www.w3.org/2000/svg">
                                <g fill="#292929">
                                    <path
                                        d="m2.67 38.85c6.3-.1 12.61-.37 18.91-.47a1.38 1.38 0 0 0 0-2.75c-6.3.1-12.61.37-18.91.47a1.38 1.38 0 0 0 0 2.75z">
                                    </path>
                                    <path
                                        d="m15 33.46c1.19.67 2.29 1.43 3.43 2.19a7.7 7.7 0 0 1 1.76 1.09c.56.7.53-.11.2.92-.63 2-2.6 3.88-3.65 5.65a1.38 1.38 0 0 0 2.38 1.39c.8-1.36 1.7-2.65 2.57-4 .73-1.12 1.84-2.4 1.85-3.8s-.91-1.94-2-2.56c-1.76-1.06-3.4-2.28-5.19-3.29a1.38 1.38 0 0 0 -1.35 2.41z">
                                    </path>
                                    <path d="m40.22 10.64h-14.49a1.38 1.38 0 0 0 0 2.75h14.49a1.38 1.38 0 0 0 0-2.75z">
                                    </path>
                                    <path
                                        d="m6.23 42.25c0 3.25-.18 7 2.45 9.34s6.58 2.24 9.78 2.47a248.43 248.43 0 0 0 28.54.18c3.19-.14 8 .27 10.45-2.27 1.66-1.71 1.08-4.6 1.21-6.8.29-5 .08-10 0-15l-.22-8.39a49.84 49.84 0 0 0 -.27-7.13c-.7-4.09-4.25-4-7.65-4a1.38 1.38 0 0 0 0 2.75 17.06 17.06 0 0 1 2.86 0c1.78.32 2.08 1.32 2.18 3 .13 2.29.11 4.61.17 6.91.09 3.44.18 6.88.31 10.32.18 4.84 0 9.69-.22 14.53-.12 3-2.94 3.06-5.39 3.2-2.25.13-4.51.22-6.76.3-4.67.16-9.34.22-14 .15s-9.35-.23-14-.7c-2-.2-4.44-.42-5.68-2.24s-.99-4.52-.99-6.62a1.38 1.38 0 0 0 -2.75 0z">
                                    </path>
                                    <path
                                        d="m15 10.61c-3.83 0-7.78-.13-8.4 4.55a62 62 0 0 0 -.16 7.59l-.08 9.83a1.38 1.38 0 0 0 2.75 0l.06-12.78c0-1.49-.42-3.85.27-5.18.94-1.83 3.83-1.27 5.51-1.26a1.38 1.38 0 0 0 0-2.75z">
                                    </path>
                                    <path
                                        d="m19.67 15.21c-1.45.13-2-.53-2-1.91 0-1.2 0-2.39 0-3.59 0-1.84 0-1.86 1.83-1.8.78 0 2.69-.21 3.22.35s.3 2.46.33 3.24a15.89 15.89 0 0 1 .2 3c-.28.47-2.76.58-3.56.68-1.73.23-1.75 3 0 2.75 2.42-.31 5.91-.11 6.18-3.2a25.64 25.64 0 0 0 -.29-6.73 3.31 3.31 0 0 0 -3.26-2.71c-1.71-.18-4.44-.63-6 .12s-1.41 2.8-1.39 4.32c0 2-.46 4.74.56 6.55.86 1.52 2.59 1.85 4.21 1.7s1.73-2.93-.03-2.77z">
                                    </path>
                                    <path
                                        d="m44.34 15.79a2.12 2.12 0 0 1 -1.67-1.95c0-.58 0-1.17 0-1.74a12.38 12.38 0 0 1 0-3.1c.41-1.28 1.66-1.21 2.77-1.16 1.47.07 2.07.5 2.34 2 .2 1.08.52 5.05.08 5.55a15.08 15.08 0 0 0 -1.58.24 15.22 15.22 0 0 1 -1.91.16c-1.77 0-1.77 2.79 0 2.75 2.59-.05 5.82-.13 6.19-3.21.4-3.25.79-8.79-3.14-10-3.14-.94-7.26-.16-7.5 3.64s-.57 9.08 4.45 9.54c1.73.19 1.72-2.51-.03-2.72z">
                                    </path>
                                    <path d="m8 24.18 48.4-.29a1.38 1.38 0 0 0 0-2.75l-48.4.29a1.38 1.38 0 0 0 0 2.75z">
                                    </path>
                                </g>
                            </svg>
                            <label id="ember30" class="float-label has-value ember-view input__input"
                                data-ebd-id="ember29-trigger"><span class="float-label-text">Send By Date</span>

                                <span class="fake-input fake-input--has-value  float-label__input" tabindex="0">
                                    Fri, Apr 22
                                </span>


                            </label>
                        </label>


                        <div id="ember-basic-dropdown-content-ember29" class="ember-basic-dropdown-content-placeholder"
                            style="display: none;"></div>





                    </div>


                    <!---->
                    <div>
                        <!---->
                        <div class="input input--wrapper input--button-container">
                            <button class="button button--white" type="submit"><a
                                routerLink="/booking-options">Search</a></button>
                        </div>
                    </div>
                </div>

            </div>
        </form>

        <!---->

    </div>

    <!---->
    <!---->
    <!---->
    <iframe name="_hjRemoteVarsFrame" title="_hjRemoteVarsFrame" id="_hjRemoteVarsFrame"
        src="https://vars.hotjar.com/box-acca23410e696f2ca3087d947271c3d0.html"
        style="display: none !important; width: 1px !important; height: 1px !important; opacity: 0 !important; pointer-events: none !important;"></iframe>
    <div style="display: none; visibility: hidden;">
        <script
            type="text/javascript">!function (b, d, f) { function e() { var c = d.getElementsByTagName("script")[0], a = d.createElement("script"); a.type = "text/javascript"; a.async = !0; a.src = "https://beacon-v2.helpscout.net"; c.parentNode.insertBefore(a, c) } if (b.Beacon = f = function (c, a, g) { b.Beacon.readyQueue.push({ method: c, options: a, data: g }) }, f.readyQueue = [], "complete" === d.readyState) return e(); b.attachEvent ? b.attachEvent("onload", e) : b.addEventListener("load", e, !1) }(window, document, window.Beacon || function () { });</script>
        <script>window.Beacon("init", "a5cc9ae0-4a2c-43f5-bfc6-8f4f0488c323");</script>
        <script>window.Beacon("once", "open", function () { var a = localStorage && localStorage["ember_simple_auth-session"] && JSON.parse(localStorage["ember_simple_auth-session"]).authenticated; a && window.Beacon("identify", { email: a.email, name: a.name }) });</script>
    </div>
    <script type="text/javascript"
        id="">!function (b, e, f, g, a, c, d) { b.fbq || (a = b.fbq = function () { a.callMethod ? a.callMethod.apply(a, arguments) : a.queue.push(arguments) }, b._fbq || (b._fbq = a), a.push = a, a.loaded = !0, a.version = "2.0", a.queue = [], c = e.createElement(f), c.async = !0, c.src = g, d = e.getElementsByTagName(f)[0], d.parentNode.insertBefore(c, d)) }(window, document, "script", "https://connect.facebook.net/en_US/fbevents.js"); fbq("init", "2094684760594520"); fbq("track", "PageView");</script>
    <noscript>
        <img height="1" width="1" src="https://www.facebook.com/tr?id=2094684760594520&amp;ev=PageView
&amp;noscript=1">
    </noscript>
    <div id="beacon-container">
        <div class="hsds-beacon">
            <div class="Beacon">
                <div class="sc-AxheI gkgGqG"></div>
                <div class="sc-AxhCb jaxpMS BeaconContainer is-configDisplayRight" data-css-with-delay="false"></div>
                <div class="sc-fznyAO jtYuiY BeaconFabButtonFrame"
                    style="border-radius: 60px; height: 60px; position: fixed; transform: scale(1); width: 60px; z-index: 1049;">
                    <iframe title="Help Scout Beacon - Open" id="" data-cy="FrameComponent"></iframe>
                </div>
                <span></span><span></span>
            </div>
        </div>
    </div>
</body>
<div style="all: initial;"></div>

</html>